
html {
  background:rgb(196, 241, 136);
  font-family: 'Mali';
}
main {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  border: 10px solid rgb(253, 253, 253);
  border-radius: 5px;
  box-shadow: 1px 1px 15px black;
}

#imgSec {
  width: 500px;
  height: 100%;
 
 
}

#plate {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#infoSide {
  width: 67%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  background-color: rgb(240, 206, 167);
  border-radius: 5px;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  height: 50%;
  font-size: 3rem;
  display: flex;
  margin: 0;
}

#heading, #actionSection {
  height: 25%;
  width: 100%;
  text-align: center;
}

#weeklySec {
  height: 50%;
  width: 97.5%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 22px;
  
}

.row.small {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.dayNameBox {
  width: 124.53px;
  height: 100%;
  text-align: center;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45%;
}

.row.big1, .row.big2 {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.row.big1 {
  border-radius: 10px;
}

.dayBox {
width: 124.53px;
height: 100%;
text-align: center;
border: 1px solid rgba(0, 0, 0, 0.521);
display: flex;
align-items: center;
justify-content: center;
border-radius: 15px;
}


#handHold {
  height: 80%;
}
i {
  height: 100px;
  width: 200px;
}

i:hover {
  color:rgba(242, 242, 243, 0.792);
  cursor: pointer;
  transition-timing-function: ease-in;
}

@media only screen  and (max-width: 600px) {
  html {
    width: 390px;
    height: 1500px;
    
  }
  body, main {
    width: 100%;
    height: 100%;

    
  }
  main {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: 0 auto;
    border: 3px solid white;
    margin: 10px;
  }
  #infoSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
 
  }
  .dayText, 
  .mealText {
    font-size: .7rem;
  }
  .dayBox {
    height: 100%;
  }
  .row.big1, 
  .row.big2 {
    height: 20%;
  }
  #weeklySec {
    padding: 0;
    height: 50%;
  }
}

.dayBox:hover {
  box-shadow: inset 0  0 2rem white;
}