<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>It's Dinner Time</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mali:wght@500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/77ee45b8f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <main>

      <section class="top">
        <section id="longSec"></section>
      </section>

      <section id="mid">

        <section class="leftSections">
          <section class="upperBlock"></section>
          <section class="bottomBlock"></section>
        </section>

        <section id="bigGuy">

          <section id="infoSide">

            <section id="heading">
              <div id="dinnerDiv">
                <h1>It's Dinner Time!</h1>
              </div>
              <span>Simplify Dinner Decisions</span>
            </section>

            <section id="weeklySec">

              <div class="row small">
                <div class="dayNameBox">
                  <span class="dayText">Sunday</span>
                </div>
                <div class="dayNameBox">
                  <span class="dayText">Monday</span>
                </div>
                <div class="dayNameBox">
                  <span class="dayText">Tuesday</span>
                </div>
                <div class="dayNameBox">
                  <span class="dayText">Wednesday</span>
                </div>
                <div class="dayNameBox">
                  <span class="dayText">Thursday</span>
                </div>
                <div class="dayNameBox">
                  <span class="dayText">Friday</span>
                </div>
                <div class="dayNameBox">
                  <span class="dayText">Saturday</span>
                </div>
              </div>

              <div class="row big1">
                <div class="dayBox">
                  <span class="mealText sun1"></span>
                </div>
                <div class="dayBox">
                  <span class="mealText mon1"></span>
                </div>
                <div class="dayBox">
                  <span class="mealText tue1"></span>
                </div>
                <div class="dayBox">
                  <span class="mealText wed1"></span>
                </div>
                <div class="dayBox">
                  <span class="mealText thurs1"></span>
                </div>
                <div class="dayBox">
                  <span class="mealText fri1"></span>
                </div>
                <div class="dayBox">
                  <span class="mealText sat1"></span>
                </div>
              </div>

              <div class="row big2">
                <div class="dayBox">
                  <span class="mealText sun2"></span>
                </div>
                <div class="dayBox">
                  <span class="mealText mon2"></span>
                </div>
                <div class="dayBox">
                  <span class="mealText tue2"></span>
                </div>
                <div class="dayBox">
                  <span class="mealText wed2"></span>
                </div>
                <div class="dayBox">
                  <span class="mealText thurs2"></span>
                </div>
                <div class="dayBox">
                  <span class="mealText fri2"></span>
                </div>
                <div class="dayBox">
                  <span class="mealText sat2"></span>
                </div>
              </div>

            </section>
          </section>

          <section id="imageSec">
            <!--<img id="plate" src="plate.jpg", alt="plate, two spoons">-->
          </section>
        </section>

      </section>



    </main>
    <section id="receipeSection"></section>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>