*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
  background-image: url('./pattern.jpg');
  background-size: 50%;
  background-repeat: repeat;
  font-family: 'Mali';
  box-sizing: border-box;
}
main {
  max-width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin: 0 auto;
}

.top {
  margin: 2rem 0 3rem 0;
  max-width: 100%;
  height: 15%;
  background-color: #333f58;
  border-radius: 25px;
  box-shadow: 2px 3px 4px 3px rgba(0, 0, 0, 0.3);
}
.leftSections {
  width: 30%;
  height: 80vh;
  
}
#mid {
  height: 80vh;
  width: 100%;
  display: flex;
}

.block {
  box-shadow: 2px 3px 4px 3px  rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 25%;
  border-radius: 25px;
}

.block.Upper{
  background: #ee8695;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.block.Bottom{
  margin: 2rem 0 2rem 0;
  height: 33%;
  background: #4a7a96;

}

.block.Random{
  height: 30%;
  background: #6fb8e2;
  position: relative;
}

.whiteBlock.outer,
.whiteBlock.inner {
  background: #FFF;
  border-radius: 25px;
  position: inherit;
  top: 11%;
  left: 11%;
}

.whiteBlock.outer{
  width: 80%;
  height: 80%;
  
  position: relative;
}


.whiteBlock.inner {
  background: #FFF;
  width: 100%;
  height: 90%;
  position: inherit;
  top: 0;
  left: 0;
  box-shadow: 0 20px 4px 2px  rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteBlock.inner:hover {
  cursor: pointer;

}

.whiteBlock.inner:active {
 
  box-shadow: inset 0 5px 2px 1px  rgba(0, 0, 0, 0.3);
}

.randomize {
  font-size: 36px;
}

#bigGuy {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 3rem;
  padding-bottom: 2rem;

}


#infoSide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  background-color: #FBBBAD;
  border-radius: 25px;
  box-shadow: 2px 3px 4px 3px  rgba(0, 0, 0, 0.3);
}

.input {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

#mealInput  {
  width: 60%;

}

.meals {
  margin-left: 3rem;
  padding-bottom: 2rem;
  overflow: auto;
  height: 65%;
  margin-right: 2px;
}

.meals::-webkit-scrollbar {
  width: 6px;
 
}

.meals::-webkit-scrollbar-track {
  background-color: #4a7a96;
  border-radius: 3px;
  padding-right: 3px;
}

.meals::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.meals::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.meals::-webkit-scrollbar-thumb:vertical {
  border-radius: 3px;
}

.meals::-webkit-scrollbar-thumb:horizontal {
  border-radius: 3px;
}

.meals::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.meals:hover::-webkit-scrollbar-thumb {
  background-color: #FFF;
}

.meals::-webkit-scrollbar-thumb:active {
  background-color: #FFF;
}

.meals::-webkit-scrollbar-thumb:window-inactive {
  background-color: #4a7a96;
}

.meals::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

.meals::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.meals:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}


#inputBlock {
  padding-bottom: 1rem;
}

button {
  width: 20%;
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: inset 1px 2px 1px 1px  rgba(0, 0, 0, 0.3);
}

input, 
button {
  border-radius: 25px;
  border: none;
  box-shadow: 2px 3px 10px 1px  rgba(0, 0, 0, 0.3);
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  height: 50%;
  font-size: 3rem;
  display: flex;
  margin: 0;
}

h2 {
  margin-left: 1rem;
  padding: 1rem 0;
}

#heading, #actionSection {
  height: 25%;
  width: 100%;
  text-align: center;
}

#weeklySec {
  height: 50%;
  width: 97.5%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 22px;
  
}

.row.small {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.dayNameBox {
  width: 124.53px;
  height: 100%;
  text-align: center;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45%;
}

.row.big1, .row.big2 {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.row.big1 {
  border-radius: 10px;
}

.dayBox {
width: 124.53px;
height: 100%;
text-align: center;
border: 1px solid rgba(0, 0, 0, 0.521);
display: flex;
align-items: center;
justify-content: center;
border-radius: 15px;
}


#handHold {
  height: 80%;
}
i {
  height: 100px;
  width: 200px;
}

i:hover {
  color:rgba(242, 242, 243, 0.792);
  cursor: pointer;
  transition-timing-function: ease-in;
}

@media only screen  and (max-width: 600px) {
  html {
    width: 390px;
    height: 1500px;
    
  }
  body, main {
    width: 100%;
    height: 100%;

    
  }

  body {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    border: 3px solid white;
    
  }
  #infoSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
 
  }
  .dayText, 
  .mealText {
    font-size: .7rem;
  }
  .dayBox {
    height: 100%;
  }
  .row.big1, 
  .row.big2 {
    height: 20%;
  }
  #weeklySec {
    padding: 0;
    height: 50%;
  }
}

.dayBox:hover {
  box-shadow: inset 0  0 2rem white;
  cursor: pointer;
}